doctype html
html(lang="en")
    head
        title FAQ
        include head.pug
    body.bg-body.text-body.font-body
        .container.mx-auto.px-4


            include header.pug
            
            section(class="py-12 px-4")
                div(class="max-w-4xl mx-auto")
                    h2(class="text-4xl text-center mb-12 font-heading" ) Frequently Asked Questions

                    div(class="flex flex-wrap -mx-8")
                        div(class="lg:w-1/2 px-8 mb-8")
                            h3(class="text-lg mb-1 font-heading font-semibold" ) How does digital training work?
                            p Your trainer is a real person who's on-call to support you. They'll text you often, build a new training plan for you each week, and respond in real-time as you need changes or have questions. After joining FYT, you'll schedule a FaceTime call which will help you get to know your trainer. Once your workouts begin, you’ll hear from your trainer often via text message. You’ll also get video messages from your trainer regularly, and can of course schedule a call anytime.
                        
                        div(class="lg:w-1/2 px-8 mb-8")
                            h3(class="text-lg mb-1 font-heading font-semibold" ) What if I don't have a gym membership or a home gym?
                            p No problem! Your trainer designs your custom workout plan specifically to suit your situation. Your workouts incorporate wherever you prefer to exercise and whatever equipment you have available to you — from being at home with no equipment, to being at a gym fully-stocked with the latest gear, and everwhere in-between. Your trainer can include outdoor runs and group fitness classes as well. The goal is to create a convenient and realistic training plan that you can stick to.
                        
                        div(class="lg:w-1/2 px-8 mb-8")
                            h3(class="text-lg mb-1 font-heading font-semibold" ) What is FYT's cancellation policy?
                            p We want you to be completely satisfied with FYT. You can try it risk-free for the first month, and we'll give you a full refund if you decide to cancel. After the first month, you can cancel at any time and we won't charge you again. If you are ever unsatisfied with our service, you can email help@FYT.fit and we'll be more than happy to make it right.
                        
                        div(class="lg:w-1/2 px-8 mb-8")
                            h3(class="text-lg mb-1 font-heading font-semibold" ) What kind of time commitment do I have to make?
                            p FYT is designed to fit into your schedule — not the other way around. Your trainer will design workouts based on what's realistic for you and can make changes during the week to accommodate your busy life.
                        
                        div(class="lg:w-1/2 px-8 mb-8")
                            h3(class="text-lg mb-1 font-heading font-semibold" ) How does FYT work when I'm traveling?
                            p Your trainer will design workouts for you that use exactly what you have available: a hotel gym, resistance bands that you bring in your suitcase, or nothing at all!
                        
                        div(class="lg:w-1/2 px-8 mb-8")
                            h3(class="text-lg mb-1 font-heading font-semibold" ) What if I have an injury or special needs?
                            p If your medical professional has cleared you for exercise then working with a personal coach can be highly beneficial for preventing or managing many common chronic conditions and injuries. With FYT, your trainer will build your exercise routine to meet your specific needs. If you have any further specific questions, please email us at help@FYT.fit and we'll be more than happy to make it right.

                        div(class="lg:w-1/2 px-8 mb-8")
                            h3(class="text-lg mb-1 font-heading font-semibold" ) Terms & Conditions
                            p As a member, you agree to the Terms & Conditions

                        div(class="lg:w-1/2 px-8 mb-8")
                            h3(class="text-lg mb-1 font-heading font-semibold" ) Questions?
                            p Email us anytime at support@iamfyt.com. We’re usually online :)

            include footer.pug