nav
    div(class="text-right py-2 px-4")
        a(href="signup.html" class="lg:inline-block lg:mt-0 text-sm text-blue-900 hover:text-blue-700" ) Sign Up
    div(class="flex flex-wrap items-center justify-between p-4 border-t")
        div(class="flex flex-shrink-0 mr-6")
        a(target='_blank' href='https://iamfyt.com')
            div
                svg(style="float:left; margin-right: 10" width='36' viewbox='0 0 266 212' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M160.5 148.5L173.5 85L28 85.5L1 211.5H75.5L87.5 148.5H160.5Z' fill='#667eea' stroke='#667eea')
                    path(d='M251.5 64H34L47.5 1H265L251.5 64Z' fill='#667eea' stroke='#667eea')
                span(class="text-xl text-indigo-500 font-semibold" ) Remote Training
        div(class="block lg:hidden")
            <button class="flex items-center py-2 px-3 text-indigo-500 rounded border border-indigo-500"><svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg></button>
        div(class="hidden lg:flex lg:flex-grow lg:items-center w-full lg:w-auto")
            div(class="lg:ml-auto")
            
                a(href="faq.html" class="block lg:inline-block mt-4 lg:mt-0 mr-12 text-blue-900 hover:text-blue-700")
                    span FAQ
                    span(class="block text-sm text-gray-500" ) Answers to your questions

                a(href="mailto:support@iamfyt.com" class="block lg:inline-block mt-4 lg:mt-0 mr-12 text-blue-900 hover:text-blue-700") 
                    span Support
                    span(class="block text-sm text-gray-500" ) 24/7 assistance
            div
                a(href="signup.html" class="inline-block py-3 px-6 mt-4 lg:mt-0 leading-none text-white bg-indigo-500 hover:bg-indigo-600 rounded shadow" ) Find Your Coach
