doctype html
html(lang="en")
    head
        title Digital 1-on-1 Personal Training | Beam
        include head.pug
    body.bg-body.text-body.font-body
        .container.mx-auto.px-4

            include header.pug
            section(class="bg-cover lg:bg-center" style="background-image: url('placeholders/pictures/landing-page-runner-hero.jpg')" )
                div(class="relative py-8 md:py-24 px-16")
                    div(class="absolute inset-0 bg-black opacity-50")
                    div(class="z-10 relative w-full")
                        div(class="flex flex-col md:flex-row items-center")
                            div(class="max-w-sm md:mr-auto text-center md:text-left text-white")
                                h2(class="text-4xl leading-tight font-heading" ) The most personal training experience, ever.
                                p(class="my-6 text-gray-300" ) Elite coaches, 1-on-1 digital training.
                                a(href="signup.html" class="inline-block py-4 px-8 leading-none text-white bg-indigo-500 hover:bg-indigo-600 rounded shadow" ) Find Your Coach

            section(class="py-8 px-4 text-center")
                div(class="max-w-2xl mx-auto")
                    div(class="flex items-center justify-center h-20 w-20 mx-auto mb-8 border rounded-full")
                        img(src="placeholders/pictures/milena.jpg" alt="" class="rounded-full" )
                    p(class="text-xl mb-8" ) "Beam allowed me to workout in the comfort of my home where my coach kicked my ass remotely with a 30-minute routine I’d never have stuck to by myself.”
                    p(class="text-sm font-semibold" ) Milena, Toronto


            section(class="py-12 px-4")
                h2(class="text-4xl mb-2 text-center leading-tight font-heading" ) How does it work?
                p(class="text-center mb-12 text-gray-500" ) Elite coaches, 1-on-1 digital training.

                div
                    div(class="flex flex-wrap items-center -mx-8")
                        div(class="md:w-1/2 px-8 mb-8")
                            img(src="placeholders/pictures/facetime-coach.png" alt="" class="w-4/5 mx-auto" )
                        div(class="md:w-1/2 px-8 mb-8")
                            span(class="text-6xl") 01
                            h3(class="text-2xl mb-3 font-heading" ) Your Fitness. Anywhere
                            p(class="text-gray-500 leading-relaxed" ) Beam brings the workout to you through 30 minute sessions over live video with your private fitness trainer. Be challenged at the convenience of your own home, a gym or at a hotel when you travel.

                    div(class="flex flex-wrap items-center -mx-8")
                        div(class="md:w-1/2 px-8 mb-8 md:order-1")
                            img(src="placeholders/pictures/workout-screenshot.png" alt="" class="w-4/5 mx-auto" )
                        div(class="md:w-1/2 px-8 md:text-right")
                            span(class="text-6xl") 02
                            h3(class="text-2xl mb-3 font-heading" ) Your Custom Training Plan
                            p(class="text-gray-500 leading-relaxed" ) Every Sunday, your coach builds a new plan based on your schedule and progress. They design guided workouts and incorporate the classes you love doing.

                    div(class="flex flex-wrap items-center -mx-8")
                        div(class="md:w-1/2 px-8 mb-8 order-none")
                            img(src="placeholders/pictures/messages.png" alt="" class="w-4/5 mx-auto" )

                        div(class="md:w-1/2 px-8")
                            span(class="text-6xl") 03
                            h3(class="text-2xl mb-3 font-heading" ) Constant Contact
                            p(class="text-gray-500 leading-relaxed" ) Your coach checks in daily to keep you on track. Can't work out today? They will reshuffle your schedule. Traveling? They'll design quick workouts for your hotel room.


            section(class="py-12 px-4 text-center")
                h2(class="text-4xl mb-2 leading-tight font-heading" ) Masters of their craft. Meet our coaches.
                p(class="max-w-xl mx-auto mb-12 text-gray-500" ) Each of our elite certified coaches has a unique style. Beam pairs you with the one who best fits your goals and personality.

                div(class="flex flex-wrap -mx-8")
                    div(class="md:w-1/3 p-8")
                        img(src="placeholders/pictures/alessia.jpg" alt="" class="w-1/3 mx-auto mb-4 rounded-full" )
                        h3(class="text-xl font-heading" ) Alessia Scauzillo
                        p(class="mt-4 text-gray-500 leading-relaxed" ) Alessia is a high-energy trainer that believes in teaching fun and engaging workouts with lots of variety that will leave you with a total body burn! Her specialties include cardio and strength training.
                    
                    div(class="md:w-1/3 p-8 md:border-l")
                        img(src="placeholders/pictures/edgar.jpg" alt="" class="w-1/3 mx-auto mb-4 rounded-full" ) 
                        h3(class="text-xl font-heading" ) Edgar Brown
                        p(class="mt-4 text-gray-500 leading-relaxed" ) Edgar is a former varsity athlete and fitness trainer that specializes in functional training for the busy professional. His in-home strength and core workouts will challenge you to push your limits and improve every day.
                    
                    div(class="md:w-1/3 p-8 md:border-l")
                        img(src="placeholders/pictures/jahmeek.jpg" alt="" class="w-1/3 mx-auto mb-4 rounded-full" )

                        h3(class="text-xl font-heading" ) Jahmeek Taylor
                        p(class="mt-4 text-gray-500 leading-relaxed" ) Jahmeek is a former varsity athlete and personal trainer that specializes in football-style training. His drill-like approach adds energy and discipline to his workouts.

            section(class="py-8 px-4")
                div(class="flex flex-wrap")
                    div(class="md:w-1/2 py-4 md:px-16 mb-4 md:mb-0")
                        p(class="mb-4" ) "I have made measurable gains in my strength and endurance. Exactly the thing I needed to get myself back into a good fitness routine."
                        p(class="text-sm font-semibold" ) Hunter Sprigings
                        p(class="text-sm text-gray-500" ) Toronto
                    
                    div(class="md:w-1/2 py-4 md:px-16 mb-4 md:mb-0 md:border-l")
                        p(class="mb-4" ) "I never thought I'd look forward to waking up at 7 a.m. for a live class. For what it is, if it keeps me focused and makes fitness a part of my life, that $59 is easily worth it."
                        p(class="text-sm font-semibold" ) Maia Shen
                        p(class="text-sm text-gray-500" ) Ottawa

            section(class="py-16 px-4 bg-gray-200")
                div(class="flex flex-wrap items-center max-w-6xl mx-auto")
                    div(class="lg:w-1/2 px-4 mb-8 lg:mb-0")
                        div(class="pt-10 pb-6 px-10 bg-white rounded shadow-md")
                            ul
                                li(class="mb-3")
                                    span(class="inline-flex items-center justify-center h-8 w-8 mr-2 border rounded-full") 1 
                                    span Live One-on-One Coaching
                                li(class="mb-3")
                                    span(class="inline-flex items-center justify-center h-8 w-8 mr-2 border rounded-full") 2
                                    span Your Custom Training Plan
                                li(class="mb-3")
                                    span(class="inline-flex items-center justify-center h-8 w-8 mr-2 border rounded-full") 3
                                    span Constant Contact
                                li(class="mb-3")
                                    span(class="inline-flex items-center justify-center h-8 w-8 mr-2 border rounded-full") 4
                                    span Accountability
                        
                    div(class="lg:w-1/2 px-4 lg:pl-20")
                        h2(class="text-3xl leading-tight font-heading" ) Just $2 a day. Completely risk-free.
                        p(class="mt-6 mb-8 text-gray-500 leading-relaxed" ) Don't spend $150 per hour on a local trainer. Your Beam membership is just $59 per month. Exercise as much as you like, wherever is most convenient.
                        div
                            a(href="signup.html" class="inline-block py-4 px-8 leading-none text-white bg-indigo-500 hover:bg-indigo-600 rounded shadow" ) Find Your Coach

            include footer.pug