doctype html
html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/tailwind/tailwind-theme.css")
        link(rel="icon" href="favicon.ico")
        link(rel="icon" type="image/png" sizes="16x16" href="favicon.png")
    body.bg-body.text-body.font-body
        .container.mx-auto.px-4


            nav
                div(class="text-right py-2 px-4")
                    a(href="#" class="lg:inline-block mr-6 lg:mt-0 text-sm text-blue-900 hover:text-blue-700" ) Sign in
                    a(href="#" class="lg:inline-block lg:mt-0 text-sm text-blue-900 hover:text-blue-700" ) Sign up

                div(class="flex flex-wrap items-center justify-between p-4 border-t")
                    div(class="flex flex-shrink-0 mr-6")
                        a(href="#" class="text-xl text-indigo-500 font-semibold" ) Dunder Mifflin
                    div(class="block lg:hidden")
                        <button class="flex items-center py-2 px-3 text-indigo-500 rounded border border-indigo-500"><svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg></button>
                    div(class="hidden lg:flex lg:flex-grow lg:items-center w-full lg:w-auto")
                        div(class="lg:ml-auto")
                            a(href="#" class="block lg:inline-block mt-4 lg:mt-0 mr-12 text-blue-900 hover:text-blue-700")
                                span Products
                                span(class="block text-sm text-gray-500" ) Premium copy paper
                            
                            a(href="#" class="block lg:inline-block mt-4 lg:mt-0 mr-12 text-blue-900 hover:text-blue-700") 
                                span Team
                                span(class="block text-sm text-gray-500" ) Our family
                            
                            a(href="#" class="block lg:inline-block mt-4 lg:mt-0 mr-12 text-blue-900 hover:text-blue-700") 
                                span Customers
                                span(class="block text-sm text-gray-500" ) Dunder Friends
                        div
                            a(href="#" class="inline-block py-3 px-6 mt-4 lg:mt-0 leading-none text-white bg-indigo-500 hover:bg-indigo-600 rounded shadow" ) Try Demo

            footer
                div(class="flex flex-wrap items-center py-4 px-4 border-b")
                    div(class="w-full lg:w-1/5 text-center lg:text-left")
                        a(class="text-xl text-indigo-500 font-semibold" href="#" ) Dunder Mifflin

                    div(class="w-full lg:w-3/5 mt-4 lg:mt-0 text-center")
                        a(class="inline-block mx-4 mb-4 lg:mb-0 text-blue-900 hover:text-blue-700" href="#" ) Products
                        a(class="inline-block mx-4 mb-4 lg:mb-0 text-blue-900 hover:text-blue-700" href="#" ) Team
                        a(class="inline-block mx-4 mb-4 lg:mb-0 text-blue-900 hover:text-blue-700" href="#" ) Customers
                        a(class="inline-block mx-4 mb-4 lg:mb-0 text-blue-900 hover:text-blue-700" href="#" ) Blog

                    div(class="flex justify-center lg:justify-end w-full lg:w-1/5 my-2 lg:my-0")
                        img(src="placeholders/icons/message.svg" alt="" class="w-6 h-6" )
                        img(src="placeholders/icons/share.svg" alt="" class="w-6 h-6 mx-8" )
                        img(src="placeholders/icons/star.svg" alt="" class="w-6 h-6" )

                div(class="py-4 text-center")
                    span(class="block md:inline-block mb-4 md:mb-0 mx-3" href="#" ) &copy 2019 Dunder Mifflin
                    a(class="inline-block mx-4 text-blue-900 hover:text-blue-700" href="#" ) Privacy Policy
                    a(class="inline-block mx-4 text-blue-900 hover:text-blue-700" href="#" ) Term of Service